botomUp1/DatosdePersona.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:element name="ObtenerPersonaxCUIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPersonaxCUILResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPersonaxCUILResult" type="tns:DatosPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DatosPersona">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuil_conf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_cambio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ape_nom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_c_tipo" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_origen" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_nro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_copia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_naci" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp_marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp_f_desde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp_f_hasta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cp_doc_resp" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="m_resext" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_pais" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_estcivil" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="lugar_naci" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_incap" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_falle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_falleci" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_actu_falle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario_falle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_pre_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_doc_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_dig_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_c_seq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_periodo_mm" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="f_periodo_aa" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_tipo_dom" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_actu_domi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_residencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_calle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_nro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_piso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_dpto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_postal" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_subpostal" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_localidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_pcia" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="telediscado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_est_grcon" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_est_ente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="est_e_r_imp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_stma_origen" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_alta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_ult_modi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h_ult_modi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_udai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_pre_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_doc_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_dig_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_c_seq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="p_periodo_mm" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="p_periodo_aa" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_ing_pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_doc_robado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_estado_cuip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DatosPersona" nillable="true" type="tns:DatosPersona" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerPersonaxCUILSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaxCUIL" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUILSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaxCUILResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUILHttpGetIn">
    <wsdl:part name="Cuil" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUILHttpGetOut">
    <wsdl:part name="Body" element="tns:DatosPersona" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUILHttpPostIn">
    <wsdl:part name="Cuil" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUILHttpPostOut">
    <wsdl:part name="Body" element="tns:DatosPersona" />
  </wsdl:message>
  <wsdl:portType name="DatosdePersonaSoap">
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <wsdl:input message="tns:ObtenerPersonaxCUILSoapIn" />
      <wsdl:output message="tns:ObtenerPersonaxCUILSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosdePersonaHttpGet">
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <wsdl:input message="tns:ObtenerPersonaxCUILHttpGetIn" />
      <wsdl:output message="tns:ObtenerPersonaxCUILHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosdePersonaHttpPost">
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <wsdl:input message="tns:ObtenerPersonaxCUILHttpPostIn" />
      <wsdl:output message="tns:ObtenerPersonaxCUILHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatosdePersonaSoap" type="tns:DatosdePersonaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <soap:operation soapAction="http://adp.prev.gov.ar/ObtenerPersonaxCUIL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdePersonaSoap12" type="tns:DatosdePersonaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ObtenerPersonaxCUIL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdePersonaHttpGet" type="tns:DatosdePersonaHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <http:operation location="/ObtenerPersonaxCUIL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdePersonaHttpPost" type="tns:DatosdePersonaHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerPersonaxCUIL">
      <http:operation location="/ObtenerPersonaxCUIL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatosdePersona">
    <wsdl:port name="DatosdePersonaSoap" binding="tns:DatosdePersonaSoap">
      <soap:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersona.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdePersonaSoap12" binding="tns:DatosdePersonaSoap12">
      <soap12:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersona.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdePersonaHttpGet" binding="tns:DatosdePersonaHttpGet">
      <http:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersona.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdePersonaHttpPost" binding="tns:DatosdePersonaHttpPost">
      <http:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersona.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>