botomUp1/ListadoPersxDoc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:element name="ListarPersxDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nro_pagina_entrada" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPersxDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPersxDocResult" type="tns:ListaPersxDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaPersxDoc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tot_ocur" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cant_reg_parcial" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Lista" type="tns:ArrayOfDatosPersxDoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatosPersxDoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosPersxDoc" nillable="true" type="tns:DatosPersxDoc" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosPersxDoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="origen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ape_nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_nro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_c_tipo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_naci" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="situacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaPersxDoc" nillable="true" type="tns:ListaPersxDoc" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarPersxDocSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPersxDoc" />
  </wsdl:message>
  <wsdl:message name="ListarPersxDocSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPersxDocResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPersxDocHttpGetIn">
    <wsdl:part name="documento" type="s:string" />
    <wsdl:part name="nro_pagina_entrada" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarPersxDocHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaPersxDoc" />
  </wsdl:message>
  <wsdl:message name="ListarPersxDocHttpPostIn">
    <wsdl:part name="documento" type="s:string" />
    <wsdl:part name="nro_pagina_entrada" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarPersxDocHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaPersxDoc" />
  </wsdl:message>
  <wsdl:portType name="ListadoPersxDocSoap">
    <wsdl:operation name="ListarPersxDoc">
      <wsdl:input message="tns:ListarPersxDocSoapIn" />
      <wsdl:output message="tns:ListarPersxDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoPersxDocHttpGet">
    <wsdl:operation name="ListarPersxDoc">
      <wsdl:input message="tns:ListarPersxDocHttpGetIn" />
      <wsdl:output message="tns:ListarPersxDocHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListadoPersxDocHttpPost">
    <wsdl:operation name="ListarPersxDoc">
      <wsdl:input message="tns:ListarPersxDocHttpPostIn" />
      <wsdl:output message="tns:ListarPersxDocHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListadoPersxDocSoap" type="tns:ListadoPersxDocSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarPersxDoc">
      <soap:operation soapAction="http://adp.prev.gov.ar/ListarPersxDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoPersxDocSoap12" type="tns:ListadoPersxDocSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarPersxDoc">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ListarPersxDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoPersxDocHttpGet" type="tns:ListadoPersxDocHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListarPersxDoc">
      <http:operation location="/ListarPersxDoc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListadoPersxDocHttpPost" type="tns:ListadoPersxDocHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListarPersxDoc">
      <http:operation location="/ListarPersxDoc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListadoPersxDoc">
    <wsdl:port name="ListadoPersxDocSoap" binding="tns:ListadoPersxDocSoap">
      <soap:address location="http://prevaplsw01/ADP_Localizacion/ListadoPersxDoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoPersxDocSoap12" binding="tns:ListadoPersxDocSoap12">
      <soap12:address location="http://prevaplsw01/ADP_Localizacion/ListadoPersxDoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoPersxDocHttpGet" binding="tns:ListadoPersxDocHttpGet">
      <http:address location="http://prevaplsw01/ADP_Localizacion/ListadoPersxDoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ListadoPersxDocHttpPost" binding="tns:ListadoPersxDocHttpPost">
      <http:address location="http://prevaplsw01/ADP_Localizacion/ListadoPersxDoc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>