botomUp1/ServicioHLWC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mihlab.prev.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mihlab.prev.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mihlab.prev.gov.ar/">
      <s:element name="TraerClavesAsociadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidoNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentoAdicional" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentoAdicional2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentoAdicional3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentoAdicional4" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerClavesAsociadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerClavesAsociadasResult" type="tns:ResultadoOfClaveAsociada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoOfClaveAsociada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:ArrayOfClaveAsociada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rutina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClaveAsociada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClaveAsociada" type="tns:ClaveAsociada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClaveAsociada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Homonimo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinciaDeEmision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimientoMostrar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificadorRegistro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Seleccionado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerClavesAsociadasSoapIn">
    <wsdl:part name="parameters" element="tns:TraerClavesAsociadas" />
  </wsdl:message>
  <wsdl:message name="TraerClavesAsociadasSoapOut">
    <wsdl:part name="parameters" element="tns:TraerClavesAsociadasResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioHLWCSoap">
    <wsdl:operation name="TraerClavesAsociadas">
      <wsdl:input message="tns:TraerClavesAsociadasSoapIn" />
      <wsdl:output message="tns:TraerClavesAsociadasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioHLWCSoap" type="tns:ServicioHLWCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerClavesAsociadas">
      <soap:operation soapAction="http://mihlab.prev.gov.ar/TraerClavesAsociadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioHLWCSoap12" type="tns:ServicioHLWCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerClavesAsociadas">
      <soap12:operation soapAction="http://mihlab.prev.gov.ar/TraerClavesAsociadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHLWC">
    <wsdl:port name="ServicioHLWCSoap" binding="tns:ServicioHLWCSoap">
      <soap:address location="http://localhost:49172/ServicioHLWC.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioHLWCSoap12" binding="tns:ServicioHLWCSoap12">
      <soap12:address location="http://localhost:49172/ServicioHLWC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>