botomUp1/ServicioHLWA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mihlab.prev.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mihlab.prev.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mihlab.prev.gov.ar/">
      <s:element name="ActualizarPeriodosFaltantes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resultado" type="tns:ResultadoOfDatoPeriodosFaltantes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoOfDatoPeriodosFaltantes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:ArrayOfDatoPeriodosFaltantes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rutina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatoPeriodosFaltantes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatoPeriodosFaltantes" nillable="true" type="tns:DatoPeriodosFaltantes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatoPeriodosFaltantes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaveEmpresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Calle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Piso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dpto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Localidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_Pcia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_Postal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_cuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_inscripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_exCaja" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ListPeriodos" type="tns:ArrayOfPeriodo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPeriodo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Periodo" nillable="true" type="tns:Periodo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Periodo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClaveEmpresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Desde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hasta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_seq" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Opcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oficio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Car_Servicio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cod_Fuente_Doc" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoPeriodo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarPeriodosFaltantesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarPeriodosFaltantesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActualizarPeriodosFaltantesSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarPeriodosFaltantes" />
  </wsdl:message>
  <wsdl:message name="ActualizarPeriodosFaltantesSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarPeriodosFaltantesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioHLWASoap">
    <wsdl:operation name="ActualizarPeriodosFaltantes">
      <wsdl:input message="tns:ActualizarPeriodosFaltantesSoapIn" />
      <wsdl:output message="tns:ActualizarPeriodosFaltantesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioHLWASoap" type="tns:ServicioHLWASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarPeriodosFaltantes">
      <soap:operation soapAction="http://mihlab.prev.gov.ar/ActualizarPeriodosFaltantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioHLWASoap12" type="tns:ServicioHLWASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarPeriodosFaltantes">
      <soap12:operation soapAction="http://mihlab.prev.gov.ar/ActualizarPeriodosFaltantes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHLWA">
    <wsdl:port name="ServicioHLWASoap" binding="tns:ServicioHLWASoap">
      <soap:address location="http://localhost:49172/ServicioHLWA.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioHLWASoap12" binding="tns:ServicioHLWASoap12">
      <soap12:address location="http://localhost:49172/ServicioHLWA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>