botomUp1/ServicioHLWE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mihlab.prev.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mihlab.prev.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mihlab.prev.gov.ar/">
      <s:element name="TraerDatosDesempleo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerDatosDesempleoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerDatosDesempleoResult" type="tns:ResultadoOfDatoDesempleo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoOfDatoDesempleo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:ArrayOfDatoDesempleo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rutina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatoDesempleo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatoDesempleo" nillable="true" type="tns:DatoDesempleo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatoDesempleo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Periodo" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerDatosDesempleoSoapIn">
    <wsdl:part name="parameters" element="tns:TraerDatosDesempleo" />
  </wsdl:message>
  <wsdl:message name="TraerDatosDesempleoSoapOut">
    <wsdl:part name="parameters" element="tns:TraerDatosDesempleoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioHLWESoap">
    <wsdl:operation name="TraerDatosDesempleo">
      <wsdl:input message="tns:TraerDatosDesempleoSoapIn" />
      <wsdl:output message="tns:TraerDatosDesempleoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioHLWESoap" type="tns:ServicioHLWESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerDatosDesempleo">
      <soap:operation soapAction="http://mihlab.prev.gov.ar/TraerDatosDesempleo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioHLWESoap12" type="tns:ServicioHLWESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerDatosDesempleo">
      <soap12:operation soapAction="http://mihlab.prev.gov.ar/TraerDatosDesempleo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHLWE">
    <wsdl:port name="ServicioHLWESoap" binding="tns:ServicioHLWESoap">
      <soap:address location="http://localhost:49172/ServicioHLWE.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioHLWESoap12" binding="tns:ServicioHLWESoap12">
      <soap12:address location="http://localhost:49172/ServicioHLWE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>