testWSDL/AltadeRelaciones.wsdl


<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s1="http://www.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:import namespace="http://www.prev.gov.ar" />
      <s:element name="AltaRelaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo_mov" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_entidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dir_ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_rela" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_relacion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f_hasta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="padre_hijo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_cond_rel" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="Base" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_evento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_evento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_docum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="legajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="legajo_ant" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_pcia" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="lugar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tomo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partida" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaRelacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaRelacionesResult" type="tns:RetornoAltaRelaciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoAltaRelaciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s1:Error" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prev.gov.ar">
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AltaRelacionesSoapIn">
    <wsdl:part name="parameters" element="tns:AltaRelaciones" />
  </wsdl:message>
  <wsdl:message name="AltaRelacionesSoapOut">
    <wsdl:part name="parameters" element="tns:AltaRelacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="AltadeRelacionesSoap">
    <wsdl:operation name="AltaRelaciones">
      <wsdl:input message="tns:AltaRelacionesSoapIn" />
      <wsdl:output message="tns:AltaRelacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AltadeRelacionesSoap" type="tns:AltadeRelacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaRelaciones">
      <soap:operation soapAction="http://adp.prev.gov.ar/AltaRelaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AltadeRelacionesSoap12" type="tns:AltadeRelacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaRelaciones">
      <soap12:operation soapAction="http://adp.prev.gov.ar/AltaRelaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AltadeRelaciones">
    <wsdl:port name="AltadeRelacionesSoap" binding="tns:AltadeRelacionesSoap">
      <soap:address location="http://localhost:1382/AltadeRelaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="AltadeRelacionesSoap12" binding="tns:AltadeRelacionesSoap12">
      <soap12:address location="http://localhost:1382/AltadeRelaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
