testWSDL/DatosdePersonaporCuip.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:element name="ObtenerPersonaxCUIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cuip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPersonaxCUIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPersonaxCUIPResult" type="tns:RetornoDatosPersonaCuip" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoDatosPersonaCuip">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonaCuip" type="tns:DatosPersonaCuip" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosPersonaCuip">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_asoc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_cambio" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ape_nom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_c_tipo" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_origen" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_nro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_copia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_naci" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cp_marca" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cp_f_desde" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="cp_f_hasta" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="cp_doc_resp" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="m_rextr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="t_rextr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ing_pais" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_comp_ing_pais" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_nacion" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_estcivil" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="lugar_naci" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_incap" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="m_falle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_falle" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_falleci" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="f_actu_falle" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario_falle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_pre_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_doc_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_dig_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_c_seq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="f_periodo_mm" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="f_periodo_aa" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_tipo_dom" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_comp_domi" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="f_actu_domi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_residencia" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_calle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_nro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_piso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_dpto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_postal" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_subpostal" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_cod_postal_nuevo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_localidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_pcia" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_anexo_nro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_sector" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_torre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_manzana" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_dat_adic" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_dat_adic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_cod_dependencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_usuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_comp_pais_extr" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="domi_cod_pais_extr" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="domi_cod_post_extr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="telediscado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_est_grcon" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_est_ente" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="est_e_r_imp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_doc_robado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_stma_origen" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="f_alta" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="f_ult_modi" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="h_ult_modi" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="c_udai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_alta_stma_origen" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cod_alta_ente_inf" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="alta_f_alta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alta_dir_ip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alta_usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alta_c_dependencia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="mod_c_sist_orig" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="mod_c_ente_info" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="mod_dir_ip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_pre_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_doc_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_dig_cuip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="p_c_seq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="p_periodo_mm" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="p_periodo_aa" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornoDatosPersonaCuip" nillable="true" type="tns:RetornoDatosPersonaCuip" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerPersonaxCUIPSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaxCUIP" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUIPSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPersonaxCUIPResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUIPHttpGetIn">
    <wsdl:part name="Cuip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUIPHttpGetOut">
    <wsdl:part name="Body" element="tns:RetornoDatosPersonaCuip" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUIPHttpPostIn">
    <wsdl:part name="Cuip" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerPersonaxCUIPHttpPostOut">
    <wsdl:part name="Body" element="tns:RetornoDatosPersonaCuip" />
  </wsdl:message>
  <wsdl:portType name="DatosdePersonaporCuipSoap">
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <wsdl:input message="tns:ObtenerPersonaxCUIPSoapIn" />
      <wsdl:output message="tns:ObtenerPersonaxCUIPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosdePersonaporCuipHttpGet">
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <wsdl:input message="tns:ObtenerPersonaxCUIPHttpGetIn" />
      <wsdl:output message="tns:ObtenerPersonaxCUIPHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosdePersonaporCuipHttpPost">
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <wsdl:input message="tns:ObtenerPersonaxCUIPHttpPostIn" />
      <wsdl:output message="tns:ObtenerPersonaxCUIPHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatosdePersonaporCuipSoap" type="tns:DatosdePersonaporCuipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <soap:operation soapAction="http://adp.prev.gov.ar/ObtenerPersonaxCUIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdePersonaporCuipSoap12" type="tns:DatosdePersonaporCuipSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ObtenerPersonaxCUIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdePersonaporCuipHttpGet" type="tns:DatosdePersonaporCuipHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <http:operation location="/ObtenerPersonaxCUIP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdePersonaporCuipHttpPost" type="tns:DatosdePersonaporCuipHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerPersonaxCUIP">
      <http:operation location="/ObtenerPersonaxCUIP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatosdePersonaporCuip">
    <wsdl:port name="DatosdePersonaporCuipSoap" binding="tns:DatosdePersonaporCuipSoap">
      <soap:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersonaporCuip.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdePersonaporCuipSoap12" binding="tns:DatosdePersonaporCuipSoap12">
      <soap12:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersonaporCuip.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdePersonaporCuipHttpGet" binding="tns:DatosdePersonaporCuipHttpGet">
      <http:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersonaporCuip.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdePersonaporCuipHttpPost" binding="tns:DatosdePersonaporCuipHttpPost">
      <http:address location="http://prevaplsw01/ADP_Localizacion/DatosdePersonaporCuip.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>