testWSDL/DatosInfoSumarialyDDJJ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:element name="ObtenerInfSumariaDecJurada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_rela" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_relacion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="Base" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInfSumariaDecJuradaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInfSumariaDecJuradaResult" type="tns:RetornoInfoSumarial" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoInfoSumarial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="datosInfoSumarial" type="tns:DatosInfSumarialDecJurada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosInfSumarialDecJurada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_alta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="informacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="c_ente_info" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="c_udai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_empleador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_modif" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="leg_unico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_leg_unico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pre_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dig_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_seq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="periodo_mm" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="periodo_aa" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornoInfoSumarial" nillable="true" type="tns:RetornoInfoSumarial" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerInfSumariaDecJuradaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInfSumariaDecJurada" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfSumariaDecJuradaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInfSumariaDecJuradaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfSumariaDecJuradaHttpGetIn">
    <wsdl:part name="cuil" type="s:string" />
    <wsdl:part name="cuil_rela" type="s:string" />
    <wsdl:part name="c_relacion" type="s:string" />
    <wsdl:part name="f_desde" type="s:string" />
    <wsdl:part name="c_docrespal" type="s:string" />
    <wsdl:part name="Base" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfSumariaDecJuradaHttpGetOut">
    <wsdl:part name="Body" element="tns:RetornoInfoSumarial" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfSumariaDecJuradaHttpPostIn">
    <wsdl:part name="cuil" type="s:string" />
    <wsdl:part name="cuil_rela" type="s:string" />
    <wsdl:part name="c_relacion" type="s:string" />
    <wsdl:part name="f_desde" type="s:string" />
    <wsdl:part name="c_docrespal" type="s:string" />
    <wsdl:part name="Base" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerInfSumariaDecJuradaHttpPostOut">
    <wsdl:part name="Body" element="tns:RetornoInfoSumarial" />
  </wsdl:message>
  <wsdl:portType name="DatosInfoSumarialyDDJJSoap">
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <wsdl:input message="tns:ObtenerInfSumariaDecJuradaSoapIn" />
      <wsdl:output message="tns:ObtenerInfSumariaDecJuradaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosInfoSumarialyDDJJHttpGet">
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <wsdl:input message="tns:ObtenerInfSumariaDecJuradaHttpGetIn" />
      <wsdl:output message="tns:ObtenerInfSumariaDecJuradaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosInfoSumarialyDDJJHttpPost">
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <wsdl:input message="tns:ObtenerInfSumariaDecJuradaHttpPostIn" />
      <wsdl:output message="tns:ObtenerInfSumariaDecJuradaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatosInfoSumarialyDDJJSoap" type="tns:DatosInfoSumarialyDDJJSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <soap:operation soapAction="http://adp.prev.gov.ar/ObtenerInfSumariaDecJurada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosInfoSumarialyDDJJSoap12" type="tns:DatosInfoSumarialyDDJJSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ObtenerInfSumariaDecJurada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosInfoSumarialyDDJJHttpGet" type="tns:DatosInfoSumarialyDDJJHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <http:operation location="/ObtenerInfSumariaDecJurada" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosInfoSumarialyDDJJHttpPost" type="tns:DatosInfoSumarialyDDJJHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerInfSumariaDecJurada">
      <http:operation location="/ObtenerInfSumariaDecJurada" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatosInfoSumarialyDDJJ">
    <wsdl:port name="DatosInfoSumarialyDDJJSoap" binding="tns:DatosInfoSumarialyDDJJSoap">
      <soap:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosInfoSumarialyDDJJ.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosInfoSumarialyDDJJSoap12" binding="tns:DatosInfoSumarialyDDJJSoap12">
      <soap12:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosInfoSumarialyDDJJ.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosInfoSumarialyDDJJHttpGet" binding="tns:DatosInfoSumarialyDDJJHttpGet">
      <http:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosInfoSumarialyDDJJ.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosInfoSumarialyDDJJHttpPost" binding="tns:DatosInfoSumarialyDDJJHttpPost">
      <http:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosInfoSumarialyDDJJ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>