testWSDL/DatosdeDictamenes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:element name="ObtenerDatosdeDictamen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_rela" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_relacion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="Base" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosdeDictamenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosdeDictamenResult" type="tns:RetornoDatosdeDictamen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoDatosdeDictamen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="DatosdeDictamen" type="tns:DatosDictamenes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosDictamenes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="nro_dictamen" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="f_dictamen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="di_c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="di_pre_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="di_doc_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="di_dig_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="di_c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="di_c_seq" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="leg_abogado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="c_ente_info" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="c_udai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuit_empleador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_modif" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="leg_unico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="d_leg_unico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_org" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pre_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dig_cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="c_seq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="periodo_mm" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="periodo_aa" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornoDatosdeDictamen" nillable="true" type="tns:RetornoDatosdeDictamen" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDatosdeDictamenSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatosdeDictamen" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosdeDictamenSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosdeDictamenResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosdeDictamenHttpGetIn">
    <wsdl:part name="cuil" type="s:string" />
    <wsdl:part name="cuil_rela" type="s:string" />
    <wsdl:part name="c_relacion" type="s:string" />
    <wsdl:part name="f_desde" type="s:string" />
    <wsdl:part name="c_docrespal" type="s:string" />
    <wsdl:part name="Base" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosdeDictamenHttpGetOut">
    <wsdl:part name="Body" element="tns:RetornoDatosdeDictamen" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosdeDictamenHttpPostIn">
    <wsdl:part name="cuil" type="s:string" />
    <wsdl:part name="cuil_rela" type="s:string" />
    <wsdl:part name="c_relacion" type="s:string" />
    <wsdl:part name="f_desde" type="s:string" />
    <wsdl:part name="c_docrespal" type="s:string" />
    <wsdl:part name="Base" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosdeDictamenHttpPostOut">
    <wsdl:part name="Body" element="tns:RetornoDatosdeDictamen" />
  </wsdl:message>
  <wsdl:portType name="DatosdeDictamenesSoap">
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <wsdl:input message="tns:ObtenerDatosdeDictamenSoapIn" />
      <wsdl:output message="tns:ObtenerDatosdeDictamenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosdeDictamenesHttpGet">
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <wsdl:input message="tns:ObtenerDatosdeDictamenHttpGetIn" />
      <wsdl:output message="tns:ObtenerDatosdeDictamenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatosdeDictamenesHttpPost">
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <wsdl:input message="tns:ObtenerDatosdeDictamenHttpPostIn" />
      <wsdl:output message="tns:ObtenerDatosdeDictamenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatosdeDictamenesSoap" type="tns:DatosdeDictamenesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <soap:operation soapAction="http://adp.prev.gov.ar/ObtenerDatosdeDictamen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdeDictamenesSoap12" type="tns:DatosdeDictamenesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ObtenerDatosdeDictamen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdeDictamenesHttpGet" type="tns:DatosdeDictamenesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <http:operation location="/ObtenerDatosdeDictamen" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatosdeDictamenesHttpPost" type="tns:DatosdeDictamenesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerDatosdeDictamen">
      <http:operation location="/ObtenerDatosdeDictamen" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatosdeDictamenes">
    <wsdl:port name="DatosdeDictamenesSoap" binding="tns:DatosdeDictamenesSoap">
      <soap:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosdeDictamenes.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdeDictamenesSoap12" binding="tns:DatosdeDictamenesSoap12">
      <soap12:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosdeDictamenes.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdeDictamenesHttpGet" binding="tns:DatosdeDictamenesHttpGet">
      <http:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosdeDictamenes.asmx" />
    </wsdl:port>
    <wsdl:port name="DatosdeDictamenesHttpPost" binding="tns:DatosdeDictamenesHttpPost">
      <http:address location="http://prevaplsw01/ADP_Relaciones_Cons/DatosdeDictamenes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>