testWSDL/Est_GC_Reversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s1="http://www.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:import namespace="http://www.prev.gov.ar" />
      <s:element name="RealizaReversion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="udai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_entidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dir_ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RealizaReversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RealizaReversionResult" type="tns:RetornoRealizaReversion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoRealizaReversion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s1:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="datosReversion" type="tns:DatosValidaReversion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosValidaReversion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="f_modi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="h_modi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="terminal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="supervisor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="operador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="udai" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sistema_origen" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="est_grcon" type="s:short" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prev.gov.ar">
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RealizaReversionSoapIn">
    <wsdl:part name="parameters" element="tns:RealizaReversion" />
  </wsdl:message>
  <wsdl:message name="RealizaReversionSoapOut">
    <wsdl:part name="parameters" element="tns:RealizaReversionResponse" />
  </wsdl:message>
  <wsdl:portType name="Est_GC_ReversionSoap">
    <wsdl:operation name="RealizaReversion">
      <wsdl:input message="tns:RealizaReversionSoapIn" />
      <wsdl:output message="tns:RealizaReversionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Est_GC_ReversionSoap" type="tns:Est_GC_ReversionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizaReversion">
      <soap:operation soapAction="http://adp.prev.gov.ar/RealizaReversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Est_GC_ReversionSoap12" type="tns:Est_GC_ReversionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizaReversion">
      <soap12:operation soapAction="http://adp.prev.gov.ar/RealizaReversion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Est_GC_Reversion">
    <wsdl:port name="Est_GC_ReversionSoap" binding="tns:Est_GC_ReversionSoap">
      <soap:address location="http://localhost:1366/Est_GC_Reversion.asmx" />
    </wsdl:port>
    <wsdl:port name="Est_GC_ReversionSoap12" binding="tns:Est_GC_ReversionSoap12">
      <soap12:address location="http://localhost:1366/Est_GC_Reversion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>