testWSDL/ServicioHLWH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mihlab.prev.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mihlab.prev.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mihlab.prev.gov.ar/">
      <s:element name="TraerDatosAnteriorJulio94">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clavesAsociadas" type="tns:ArrayOfClaveAsociada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClaveAsociada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClaveAsociada" type="tns:ClaveAsociada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClaveAsociada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Homonimo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinciaDeEmision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimientoMostrar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificadorRegistro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Seleccionado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerDatosAnteriorJulio94Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerDatosAnteriorJulio94Result" type="tns:ResultadoOfDatoAnterior94" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoOfDatoAnterior94">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:ArrayOfDatoAnterior94" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rutina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatoAnterior94">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatoAnterior94" nillable="true" type="tns:DatoAnterior94" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatoAnterior94">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCuenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocCTipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LugarEmision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Homonimo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCuentaDDJJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroGenerado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CaracterServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MesesTrabajados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MesAlta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaAlta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MesBaja" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaBaja" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AltaBaja" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remuneracion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COrigenEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAcreditacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diferenciador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuilAsignado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarcaSeleccion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerDatosAnteriorJulio94SoapIn">
    <wsdl:part name="parameters" element="tns:TraerDatosAnteriorJulio94" />
  </wsdl:message>
  <wsdl:message name="TraerDatosAnteriorJulio94SoapOut">
    <wsdl:part name="parameters" element="tns:TraerDatosAnteriorJulio94Response" />
  </wsdl:message>
  <wsdl:portType name="ServicioHLWHSoap">
    <wsdl:operation name="TraerDatosAnteriorJulio94">
      <wsdl:input message="tns:TraerDatosAnteriorJulio94SoapIn" />
      <wsdl:output message="tns:TraerDatosAnteriorJulio94SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioHLWHSoap" type="tns:ServicioHLWHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerDatosAnteriorJulio94">
      <soap:operation soapAction="http://mihlab.prev.gov.ar/TraerDatosAnteriorJulio94" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioHLWHSoap12" type="tns:ServicioHLWHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerDatosAnteriorJulio94">
      <soap12:operation soapAction="http://mihlab.prev.gov.ar/TraerDatosAnteriorJulio94" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHLWH">
    <wsdl:port name="ServicioHLWHSoap" binding="tns:ServicioHLWHSoap">
      <soap:address location="http://localhost:49172/ServicioHLWH.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioHLWHSoap12" binding="tns:ServicioHLWHSoap12">
      <soap12:address location="http://localhost:49172/ServicioHLWH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>