testWSDL/ServicioHLWV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mihlab.prev.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://mihlab.prev.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mihlab.prev.gov.ar/">
      <s:element name="TraerHistoriaLaboralProvincial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clavesAsociadas" type="tns:ArrayOfClaveAsociada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClaveAsociada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClaveAsociada" type="tns:ClaveAsociada" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClaveAsociada">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Homonimo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinciaDeEmision" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimiento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaNacimientoMostrar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdentificadorRegistro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Seleccionado" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="TraerHistoriaLaboralProvincialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerHistoriaLaboralProvincialResult" type="tns:ResultadoOfDatoProvincial" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoOfDatoProvincial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:Error" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="tns:ArrayOfDatoProvincial" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionHost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDeError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rutina" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Accion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatoProvincial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatoProvincial" type="tns:DatoProvincial" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatoProvincial">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NroDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuitProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaTraspaso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Organismo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocialOrganismo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Condicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionCondicion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaDesde" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaHasta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CaracterServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clase" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ocupacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COrigenEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAcreditacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuilAsignado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Seleccionado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarcaSeleccion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerHistoriaLaboralProvincialSoapIn">
    <wsdl:part name="parameters" element="tns:TraerHistoriaLaboralProvincial" />
  </wsdl:message>
  <wsdl:message name="TraerHistoriaLaboralProvincialSoapOut">
    <wsdl:part name="parameters" element="tns:TraerHistoriaLaboralProvincialResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioHLWVSoap">
    <wsdl:operation name="TraerHistoriaLaboralProvincial">
      <wsdl:input message="tns:TraerHistoriaLaboralProvincialSoapIn" />
      <wsdl:output message="tns:TraerHistoriaLaboralProvincialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioHLWVSoap" type="tns:ServicioHLWVSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerHistoriaLaboralProvincial">
      <soap:operation soapAction="http://mihlab.prev.gov.ar/TraerHistoriaLaboralProvincial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioHLWVSoap12" type="tns:ServicioHLWVSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerHistoriaLaboralProvincial">
      <soap12:operation soapAction="http://mihlab.prev.gov.ar/TraerHistoriaLaboralProvincial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHLWV">
    <wsdl:port name="ServicioHLWVSoap" binding="tns:ServicioHLWVSoap">
      <soap:address location="http://localhost:49172/ServicioHLWV.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioHLWVSoap12" binding="tns:ServicioHLWVSoap12">
      <soap12:address location="http://localhost:49172/ServicioHLWV.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>