testWSDL/ValidaciondeRelaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s1="http://www.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:import namespace="http://www.prev.gov.ar" />
      <s:element name="ValidarRelaciones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo_mov" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_rela" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_relacion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f_hasta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="padre_hijo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_cond_rel" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="Base" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_evento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_evento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="t_f_naci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_f_falle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="t_c_sexo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="t_c_incap" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="r_f_naci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="r_f_falle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="r_c_sexo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="r_c_incap" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarRelacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarRelacionesResult" type="tns:RetornoValidacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoValidacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s1:Error" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prev.gov.ar">
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarRelacionesSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarRelaciones" />
  </wsdl:message>
  <wsdl:message name="ValidarRelacionesSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarRelacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="ValidaciondeRelacionesSoap">
    <wsdl:operation name="ValidarRelaciones">
      <wsdl:input message="tns:ValidarRelacionesSoapIn" />
      <wsdl:output message="tns:ValidarRelacionesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidaciondeRelacionesSoap" type="tns:ValidaciondeRelacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarRelaciones">
      <soap:operation soapAction="http://adp.prev.gov.ar/ValidarRelaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidaciondeRelacionesSoap12" type="tns:ValidaciondeRelacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarRelaciones">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ValidarRelaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidaciondeRelaciones">
    <wsdl:port name="ValidaciondeRelacionesSoap" binding="tns:ValidaciondeRelacionesSoap">
      <soap:address location="http://localhost:1295/ValidaciondeRelaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidaciondeRelacionesSoap12" binding="tns:ValidaciondeRelacionesSoap12">
      <soap12:address location="http://localhost:1295/ValidaciondeRelaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>