testWSDL/ValidaciondePartida.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s1="http://www.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:import namespace="http://www.prev.gov.ar" />
      <s:element name="ValidarPartida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipo_mov" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_rela" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_relacion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_desde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f_hasta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Base" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_evento" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="f_evento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuil_docum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_docrespal" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="legajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="legajo_ant" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="c_pcia" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="lugar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tomo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="folio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partida" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarPartidaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarPartidaResult" type="tns:RetornoValidaPartida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoValidaPartida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s1:Error" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prev.gov.ar">
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarPartidaSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarPartida" />
  </wsdl:message>
  <wsdl:message name="ValidarPartidaSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarPartidaResponse" />
  </wsdl:message>
  <wsdl:portType name="ValidaciondePartidaSoap">
    <wsdl:operation name="ValidarPartida">
      <wsdl:input message="tns:ValidarPartidaSoapIn" />
      <wsdl:output message="tns:ValidarPartidaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidaciondePartidaSoap" type="tns:ValidaciondePartidaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarPartida">
      <soap:operation soapAction="http://adp.prev.gov.ar/ValidarPartida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidaciondePartidaSoap12" type="tns:ValidaciondePartidaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarPartida">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ValidarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidaciondePartida">
    <wsdl:port name="ValidaciondePartidaSoap" binding="tns:ValidaciondePartidaSoap">
      <soap:address location="http://localhost:1322/ValidaciondePartida.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidaciondePartidaSoap12" binding="tns:ValidaciondePartidaSoap12">
      <soap12:address location="http://localhost:1322/ValidaciondePartida.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>