testWSDL/WsPw02.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adp.prev.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://adp.prev.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adp.prev.gov.ar">
      <s:element name="ObtenerDatosxDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nro_pagina_entrada" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDatosxDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDatosxDocumentoResult" type="tns:ListaPw02" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaPw02">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cod_retorno" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_gravedad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="tot_ocur" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cant_reg_parcial" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Lista" type="tns:ArrayOfDatosPw02" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDatosPw02">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DatosPw02" nillable="true" type="tns:DatosPw02" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DatosPw02">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ape_nom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="doc_nro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doc_c_tipo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="f_naci" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaPw02" nillable="true" type="tns:ListaPw02" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerDatosxDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDatosxDocumento" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosxDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDatosxDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosxDocumentoHttpGetIn">
    <wsdl:part name="documento" type="s:string" />
    <wsdl:part name="nro_pagina_entrada" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosxDocumentoHttpGetOut">
    <wsdl:part name="Body" element="tns:ListaPw02" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosxDocumentoHttpPostIn">
    <wsdl:part name="documento" type="s:string" />
    <wsdl:part name="nro_pagina_entrada" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerDatosxDocumentoHttpPostOut">
    <wsdl:part name="Body" element="tns:ListaPw02" />
  </wsdl:message>
  <wsdl:portType name="WsPw02Soap">
    <wsdl:operation name="ObtenerDatosxDocumento">
      <wsdl:input message="tns:ObtenerDatosxDocumentoSoapIn" />
      <wsdl:output message="tns:ObtenerDatosxDocumentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsPw02HttpGet">
    <wsdl:operation name="ObtenerDatosxDocumento">
      <wsdl:input message="tns:ObtenerDatosxDocumentoHttpGetIn" />
      <wsdl:output message="tns:ObtenerDatosxDocumentoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WsPw02HttpPost">
    <wsdl:operation name="ObtenerDatosxDocumento">
      <wsdl:input message="tns:ObtenerDatosxDocumentoHttpPostIn" />
      <wsdl:output message="tns:ObtenerDatosxDocumentoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsPw02Soap" type="tns:WsPw02Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosxDocumento">
      <soap:operation soapAction="http://adp.prev.gov.ar/ObtenerDatosxDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsPw02Soap12" type="tns:WsPw02Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerDatosxDocumento">
      <soap12:operation soapAction="http://adp.prev.gov.ar/ObtenerDatosxDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsPw02HttpGet" type="tns:WsPw02HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerDatosxDocumento">
      <http:operation location="/ObtenerDatosxDocumento" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsPw02HttpPost" type="tns:WsPw02HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerDatosxDocumento">
      <http:operation location="/ObtenerDatosxDocumento" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsPw02">
    <wsdl:port name="WsPw02Soap" binding="tns:WsPw02Soap">
      <soap:address location="http://prevaplsw01/ADP_Localizacion/WsPw02.asmx" />
    </wsdl:port>
    <wsdl:port name="WsPw02Soap12" binding="tns:WsPw02Soap12">
      <soap12:address location="http://prevaplsw01/ADP_Localizacion/WsPw02.asmx" />
    </wsdl:port>
    <wsdl:port name="WsPw02HttpGet" binding="tns:WsPw02HttpGet">
      <http:address location="http://prevaplsw01/ADP_Localizacion/WsPw02.asmx" />
    </wsdl:port>
    <wsdl:port name="WsPw02HttpPost" binding="tns:WsPw02HttpPost">
      <http:address location="http://prevaplsw01/ADP_Localizacion/WsPw02.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>